#actionDiv{
    position: absolute;
    top: 20px;
    left: 50px;
    font-size: 15px;
    font-weight: 550;
    padding: 5px;
    border-radius: 5px;
    z-index: 10;
    background-color: yellow;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    &>div{
        display: flex;
        align-items: center;
       gap: 10px;
       margin: 2px;
        &>.redColor{
            color: red;
        }
        &>.greenColor{
            color: green;
        }
        &>.greenColor+p{
            color: red;
        }
        &>.blueColor{
            color: blue;
        }
        &>.blueColor+p{
            color: red;
        }
    }
}
.actions{
    width: 200px;
    padding-left: 20px;
}
.user_table_heading{
    text-align: center;
    
}
#parent_div{
    z-index: -1;
}
#actionDiv>div:hover{
    cursor: pointer;
}